@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.cont-wrap {
  padding: 0 0 4rem;
}

/* ------HEADER---------- */

#header-wrap {
  background-color: #263D42;
  color: white;
}

#header-HL {
  letter-spacing: 1px;
  font-size: 2rem;
  margin: 0;
  padding: 20px 0 1rem;
}

.header-subHl {
  font-size: 1.3rem; 
}

/* ------BALANCE---------- */

.hl3 {
  padding: 0.8rem 0 0.2rem;
  margin: 0;
}

.hl4 {
  margin: 0;
  padding: 0.5rem 0 0.8rem;
  text-transform: uppercase;
}

/* ---------INCOME-EXPENSE---------- */
.inc-exp-container {
  background-color: #F3F9F4;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

/* ---------HISTORY-------- */

#btn {
  cursor: pointer;
  background-color: #263D42;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #F3F9F4;
  box-shadow: var(--box-shadow);
  color: #263D42;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

/* ------FORM---------- */
#input1,
#input2,
#input3 {
  background-color: #F3F9F4;
  border: 0.06rem solid #263D42;
  color: #263D42;
}

#label1,
#label2,
#label3 {
  color: #263D42;
}


@media (min-width: 769px) {


   #root {
    max-width: 650px;
    width: 80vw;
    height: 80vw;
    margin: 10vh auto;
  }
  
  #header-HL {
    letter-spacing: 1px;
    font-size: 3rem;
    margin: 0;
    padding: 2rem 0 1rem;
  }
  
  .header-subHl {
    font-size: 2rem; 
    padding: 0 0 2rem;
  }

  .hl3 {
    font-size: 2.2rem;
    padding: 1.5rem 0 1rem;
    margin: 0;
  }
  
  .hl4 {
    font-size: 2rem;
    margin: 0;
    padding: 0.5rem 0 1rem;
    text-transform: uppercase;
  }
  
  .inc-exp-hl {
    font-size: 2rem; 
  }
  .money {
    font-size: 2rem;
    font-weight: 500;
  }
}
